.forgotpassword{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.forgotpassword h1{
    font-size: 5em;
}

.forgotpassword .form .box{
    text-align: center;
    align-items: center;
    margin: auto;
}

.forgotpassword label{
    display: block;
    font-size: 1.4em;
    font-weight: 600;
}

.forgotpassword input{
    border-radius: 0.4em;
    font-family: Montserrat, Open Sans, Helvetica, Arial, Times;
    font-size: 1.2em;
}

.forgotpassword input[type=text]{
    margin: 1em auto 0.5em auto;
    padding: 0.6em;
    width: 50%;
    display: block;
    color: black;
}

.forgotpassword .button{
    padding: 0.6em;
    background-color: brown;
    font-weight: 600;
    transition: background-color 0.2s;
}

.forgotpassword .button:hover{
    background-color: #6D0000;
    cursor: pointer;
}

.forgotpassword a{
    transition: color 0.2s;
    font-weight: 600;
}

.forgotpassword a:hover{
    color: brown;
}