.signup p{
    color: white;
    background-color: brown;
    padding: 0.5em;
    border-radius: 0.3em;
    width: 20%;
    margin-top: 80%;
    margin-left:70%;
    text-align: center;
    align-items: center;
    position: absolute;
}

.signup .form{
    width: 25%;
    margin: auto;
    padding: 2em;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.signup .form h4{
    padding-bottom: 2em;
    font-size: 1.3em;
}

.signup .form label{
    font-size: 1.3em;
}

.signup .form .question{
    font-weight: 600;
    display: block;
}

.signup .form input{
    display: block;
    margin: 1em auto;
    color: black;
    padding: 0.3em;
    border-radius: 0.4em;
    font-size: 1em;
}

.signup .form .options{
    font-size: 0.8em;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2em;
}

.signup .form .options .option{
    width: 100%;
    display: flex;
    text-align: left;
    align-items: center;
}

.signup .form .options .option input{
    margin: 1em;
}

.signup .form .button{
    margin-top: 1em;
    width: auto;
    padding: 0.6em;
    color: white;
    background-color: #333F53;
    font-size: 1.4em;
    font-family: Montserrat, Open Sans, Helvetica, Arial, Times;
    transition: background-color 0.2s;

}

.signup .form .button:hover{
    background-color: #3E4D65;
    cursor: pointer;
}

.signup .clickhere p, .signup .clickhere a{
    font-size: 1.2em;
}

.signup .hasaccount{
    text-align: center;
    padding-bottom: 1em;
}

.signup a{
    transition: color 0.2s;
}
.signup a:hover{
    color: brown;
    cursor: pointer;
}